[data-aos] {
  visibility: hidden;
}

[data-aos].animate__animated {
  visibility: visible;
}

:root {
  --animate-duration: 1800ms;
  --animation-delay: 2.9s;
}

* {
  font-family: "Roboto", "Microsoft JhengHei", "sans-serif" !important;
  font-style: italic !important;
}

a {
  display: block;
  cursor: pointer;
}

img {
  display: block;
}

.dFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 64px;
  line-height: 75px;
  font-weight: 500;
}

.header {
  background: url(../images/banner_1920x960.png) center no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 64px;
}

.headerIntro {
  margin-top: 70px;
}
.headerIntro span {
  font-size: 24px;
  line-height: 42px;
  font-weight: 500;
  font-weight: 700;
  color: #FFFFFF;
}
.headerIntro h1 {
  font-size: 80px;
  line-height: 94px;
  font-weight: 900;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.headerIntro p {
  font-size: 24px;
  line-height: 42px;
  font-weight: 500;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 64px;
}
.headerIntro .headerIcon {
  display: flex;
  justify-content: space-around;
}

.about .title {
  color: #000000;
  margin-bottom: 40px;
}
.about img {
  margin-bottom: 24px;
}
.about .aboutIntro {
  font-size: 24px;
  line-height: 42px;
  font-weight: 500;
  font-weight: 700;
  margin-bottom: 8px;
}
.about .aboutEdu {
  font-size: 24px;
  line-height: 42px;
  font-weight: 500;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-bottom: 32px;
}
.about .aboutList {
  position: relative;
  border-top: 1px solid #000000;
  padding-top: 34px;
  margin-bottom: 56px;
}
.about .aboutList .aboutListItem {
  font-size: 24px;
  line-height: 42px;
  font-weight: 500;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: center;
  padding-left: 20px;
}
.about .aboutList .aboutListItem:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 50%;
  margin-top: 9px;
  left: -5px;
}
.about .aboutList .aboutListItem:nth-child(2):before {
  left: 40px;
}
.about .aboutList .aboutListItem:nth-child(3):before {
  left: -20px;
}

.brand {
  background-color: #000000;
  color: #FFFFFF;
  padding-top: 64px;
  margin-bottom: 64px;
}
.brand .title {
  margin-bottom: 16px;
}
.brand span {
  font-size: 24px;
  line-height: 42px;
  font-weight: 500;
  margin-bottom: 32px;
}
.brand .brandIntro {
  font-size: 20px;
  line-height: 42px;
  font-weight: 500;
  margin-bottom: 48px;
  text-align: center;
}
.brand img {
  margin-bottom: 40px;
}
.brand .brandPics {
  display: flex;
  margin-bottom: 120px;
}
.brand .brandPics li:nth-child(1) {
  margin-right: 24px;
}

.works {
  text-align: center;
}
.works .title {
  margin-bottom: 24px;
}
.works .worksSubtitle {
  font-size: 20px;
  line-height: 42px;
  font-weight: 500;
  margin-bottom: 128px;
}
.works .workList {
  background: url(../images/worksBG_1921x1588.png) no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 104px;
}
.works .workList .worksIntro {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 56px;
}
.works .workList .worksIntro:nth-child(1) {
  margin-top: -80px;
}
.works .workList .worksIntro li img {
  margin-bottom: 16px;
}
.works .workList .worksIntro li p {
  font-size: 20px;
  line-height: 42px;
  font-weight: 500;
  color: #FFFFFF;
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 64px 0;
}
.footer .title {
  margin-bottom: 16px;
}
.footer li {
  font-size: 24px;
  line-height: 42px;
  font-weight: 500;
  margin-bottom: 16px;
}